fastapi
uvicorn
python-dotenv
python-multipart
pydantic

psycopg2-binary

google-generativeai
langchain-groq
langchain-text-splitters
langchain-community
langchain-google-genai

docx2txt
pypdf

gunicorn